services:
  - type: web
    name: hair-similarity-api
    env: python
    buildCommand: pip install -r app/requirements.txt
    startCommand: cd app && uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: hair-similarity-db
          property: connectionString
      - key: IG_ACCESS_TOKEN
        sync: false
      - key: IG_APP_ID
        sync: false
      - key: IG_APP_SECRET
        sync: false
      - key: IG_USER_ID
        sync: false
      - key: JWT_SECRET
        generateValue: true

databases:
  - name: hair-similarity-db
    databaseName: postgres
    user: postgres
    plan: free
